@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #18181a;
  --default-text-color: red;
}

/* Custom styles */
@layer utilities {
  .text-body-8 {
    font-size: 1rem; 
    line-height: 1.5;
  }
}

body {
  border: 5px solid rebeccapurple;
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  @apply text-body-8 font-normal text-metal-600 dark:text-metal-300;
}
